<!DOCTYPE html>
<html>
  <head>
    <title>Locations</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Locations List</h1>
      <% if(items.length>0) { %>
        <table class="table_details">
          <thead>
            <tr>
              <th hidden>#</th>
              <th hidden>Id</th>
              <th>Address</th>
              <th>Max Capacity</th>
              <th>Limit Capacity</th>
              <th hidden>Detalhes</th>
              <th hidden>Editar</th>
              <th hidden>Eliminar</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<items.length;i++) { %>
              <tr>
               
                <td hidden> <%=i%> </td>
                <td hidden> <%=items[i]._id%></a></td>
                <td> <%= items[i].place%></a></td>
                <td > <%= items[i].max%></a></td>
                <td> <%= items[i].limit%>%</a></td>
                <td><a href="/locations/show/<%= items[i]._id%> "> Show Details </td>
                <td><a href="/locations/edit/<%= items[i]._id%> "> Edit </a></td>
                <td><a href="/locations/delete/<%= items[i]._id%> "> Delete </a></td>
            <% } %>
          </tbody>
        </table>
        
      <% } else { %>
        <div>No Locations found.</div>
      <% } %>
    </div>
    <div>
        <button><a href="/locations/back"> Back </a></button>
    </div>
    <!--<h3><a href="/events/create">Create new Event</a></h3> Comentei porque so se deve poder adicionar eventos os promotores acho eu-->
  </body>
</html>