<!DOCTYPE html>
<html>
  <head>
    <title>Location</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Location Details</h1>
      <table class="table_details">
        <tbody>
          
          <tr>
            <td>Address</td>
            <td>:</td>
            <td><%= item.place%></td>
          </tr>
          <tr>
            <td>Max Capacity</td>
            <td>:</td>
            <td><%= item.max %></td>
          </tr>
          <tr>
            <td>Limit Capacity</td>
            <td>:</td>
            <td><%= item.limit %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3><a href="/locations">Show All Locations</a></h3>
  </body>
</html>
