<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><a href="/locations">Locations</a></h1>
    <h1><a href="/events">Events</a></h1>
    <h1><a href="/promoters">Promoter</a></h1>
    <form action="/promoters/create" method="GET">
      <button type="submit" id="promoterRegis">Register</button>
    </form>

    <!-- <h3><a href="/promoter/create">Criar novo Item</a></h3> -->
  </body>
</html>
