
<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 >Locais</a></h1>
    <h1><a href="/events">Eventos</a></h1>
    <h1>Promotores</h1>
    <form action="/promoters/create"  method="GET" >
      <button type="submit" id="promoterRegis">Registar</button>
    </form>

    <!-- <h3><a href="/promoter/create">Criar novo Item</a></h3> -->
  </body>
</html>
