
<!DOCTYPE html>
<html>
  <head>
    <title>EventosManager</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
      <h2><%-title%></h2>
    <h2>Eventos</h1>
    <p>Criar Eventos</p>
    <form method="POST" action="/promoter/criar">
        <div>
            <button type="submit">Criar</button>
        </div>
    </form>
  </body>
</html>
