body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
  text-align: center;
}

label{
  margin-right: auto;
  margin-top: auto;
  color: black;
  white-space: nowrap;
}

form{
  margin-top: 20%;
}

h1{
  margin-inline: 40px;
  display: inline-block;
  font-family: monospace;
  font-size: 25px;
}

a {
  color: black;
}

.Error {
  color: black;
  text-align: center;
}

.form_create{
  margin: auto;
  margin-bottom: 10px;
  padding: auto;
  width: fit-content;
  justify-content: center;
  align-content: left;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}