body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: deeppink;
}

a {
  color: #00B7FF;
}

.Error {
  color: black;
  text-align: center;
}

.form_create{
  display: flex;
  flex-wrap: wrap;
}


table {
  border-width: 5px;
  border-color: black;
}