<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Create Promoter</title>
</head>
<body>
    <form action="/promoters/create" method="POST" >
        <div class="form_create">
            <label>Name: </label>
            <input name="name" id="name" type="text" required>
        </div>
        <div class="form_create">
            <label>Email: </label>
            <input name="email" id="email" type="email" required>
        </div>
        <div class="form_create">
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>