<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Event Details</h1>
      <table class="table_details">
        <tbody>
          <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= item._id %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= item.name %></td>
          </tr>
          <tr>
            <td>Description</td>
            <td>:</td>
            <td><%= item.description %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td><%= item.location.place %></td>
          </tr>
          <tr>
            <td>Max Capacity</td>
            <td>:</td>
            <td><%= item.location.max %></td>
          </tr>
          <tr>
            <td>Limit Capacity</td>
            <td>:</td>
            <td><%= item.location.limit %></td>
          </tr>
          <tr>
            <td>Poster</td>
            <td>:</td>
            <td><img src="<%= item.poster%>"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3><a href="/events">Show All Events</a></h3>
  </body>
</html>
