<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Event Editing</h1>
      <form action="/events/edit/<%=item._id%>" method="post">
        <table class="table_details">
          <tbody>
            <tr hidden>
              <td>Id</td>
              <td>:</td>
              <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
              <td>
                <input
                  type="hidden"
                  name="_id"
                  id="_id"
                  value="<%= item._id %>"
                /><%= item.name %>
              </td>
            </tr>
            <tr>
              <td>Name</td>
              <td>:</td>
              <td>
                <input
                  type="text"
                  name="name"
                  id="name"
                  value="<%= item.name %>"
                />
              </td>
            </tr>

            <tr>
              <td>Description</td>
              <td>:</td>
              <td>
                <input
                  type="text"
                  name="description"
                  id="description"
                  value="<%= item.description %>"
                />
              </td>
            </tr>
            <tr>
              <td>Address</td>
              <td>:</td>
              <td>
                <input
                  type="text"
                  name="location.place"
                  id="location.place"
                  value="<%= item.location.place %>"
                />
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td>Max Capacity</td>
              <td>:</td>
              <td>
                <input
                  type="number"
                  name="location.max"
                  id="location.max"
                  value="<%= item.location.max %>"
                />
              </td>
            </tr>

            <tr>
              <td>Limit Capacity</td>
              <td>:</td>
              <td>
                <input
                  type="number"
                  name="location.limit"
                  id="location.limit"
                  min=0
                  max=100
                  value="<%= item.location.limit %>"
                />
              </td>
            </tr>
            <tr>
              <td>Poster</td>
              <td>:</td>
              <td>
                <input
                  type="text"
                  name="poster"
                  id="poster"
                  value="<%= item.poster %>"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Edit</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <h3><a href="/events">Show All Events</a></h3>
  </body>
</html>
